@font-face {
  font-family: 'Goldman';
  src: url('Goldman-Bold.eot');
  src: url('Goldman-Bold.eot?#iefix') format('embedded-opentype'),
    url('Goldman-Bold.woff') format('woff'),
    url('Goldman-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Goldman';
  src: url('Goldman-Regular.eot');
  src: url('Goldman-Regular.eot?#iefix') format('embedded-opentype'),
    url('Goldman-Regular.woff') format('woff'),
    url('Goldman-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




body {
  margin: 0;
  padding: 0;
  
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

header {
     background-color: #B0C5D7;
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     padding-top: 190px
  
}
header .header_inner {
  background: #fff;
  /* padding: 0px 0px  40px; */
  height: 450px;
  width: 400px;
 
}
header .header_inner .header_top {
  background: #5F8BD3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: #fff;
}
header .header_inner .header_top .top_inner {
  display: flex;
  align-items: center;
}
header .header_inner .header_top .top_inner a  {
  width: 5px;
  height: 5px;
  /* padding: 7px; */
  border: 1px solid #dedede;
  border-radius: 50%;
  background: #fff;
  margin-right: 12px;

}
header .header_inner .header_top .top_img {
  opacity: 0.5;
}
header .header_inner .header_top .top_img:hover {
  opacity: 1;
}
header .header_inner h2 {
  text-align: center;
  opacity: 0.2;
  font-size: 14px;
  padding: 15px 0;
  position: relative;
}
header .header_inner h2::before {
  content: "";
  height: 1px;
  width: 35%;
  background: #4d4747;
  position: absolute;
  bottom: 20px;
  right: 5%;
}
header .header_inner h2::after {
  content: "";
  height: 1px;
  width: 35%;
  background: #4d4747;
  position: absolute;
  bottom: 20px;
  left: 5%;
}
header .header_inner .inner-text1 {
  padding: 6px 4px;
  background-color: #E2EBF4;
  width: 275px;
  margin-left: 18px;
  margin-bottom: 20px;
}
header .header_inner .inner-text1.text2 {
  padding: 6px 4px;
  background-color: #EBEBEB;
  width: 275px;
  margin-left: 95px;
}
header .header_inner .inner-text1.text3 {
  padding: 6px 4px;
  background-color: #E2EBF4;
  width: 75px;
  margin-left: 18px;
}
header .header_inner .inner-text1.text4 {
  padding: 6px 4px;
  background-color: #FEB9B9;
  width: 275px;
  margin-left: 95px;
  margin-bottom: 15px;
  position: relative;
  /* display: flex; */
  /* justify-content: flex-end; */
}
header .header_inner .inner-text1.text4::before {
  content: "";
  height: 1px;
  width: 128%;
  background: #4d4747;
  position: absolute;
  bottom: -13px;
  right: 0%;
  opacity: 0.2;
}
header .header_inner .time1 {
  margin-left: 17px;
  margin-bottom: 4px;
  display: block;
  opacity: 0.5;
}
header .header_inner .time2 {
  margin-left: 340px;
  margin-bottom: 4px;
  display: block;
  opacity: 0.5;
}
header .header_inner .time3 {
  margin-left: 17px;
  margin-bottom: 4px;
  display: block;
  opacity: 0.5;
}
#type_file {
  /* display: none; */
  margin-left: 17px;
  border: none;
  /* border-top: 1px solid #dedede; */
  padding: 7px 120px 0 0;  
  outline: none;
  font-size: 16px;
  color: #070707;
}
form .label1 {
  color: #5F8AD5;
  font-weight: bold;
  font-size: 20px;
}
